<!-- printing the receipt -->
<!-- including the head of html -->
<%- include('layouts/head');-%>

    <body>
        <!-- includer the header section of body -->
        <%- include('layouts/header');-%>
            <!-- including the navigation bar -->
            <%- include('layouts/nav');-%>
                <section>
                    <table>
                        <tr>
                            <td id="title" colspan="2">Your Recipt</td>
                        </tr>
                        <tr>
                            <!-- printing name of user -->
                            <th>Name:</th>
                            <td>
                                <%= name%>
                            </td>
                        </tr>
                        <tr>
                            <!-- printing email of the user -->
                            <th>Email:</th>
                            <td>
                                <%= email%>
                            </td>
                        </tr>
                        <tr>
                            <!-- printing phone number of the user -->
                            <th>Phone Number:</th>
                            <td>
                                <%= phone%>
                            </td>
                        </tr>
                        <tr>
                            <!-- printing address of the user -->
                            <th>Address:</th>
                            <td>
                                <%= address%>
                            </td>
                        </tr>
                        <tr>
                            <!-- printing city of the user -->
                            <th>City:</th>
                            <td>
                                <%= city%>
                            </td>
                        </tr>
                        <tr>
                            <!-- printing province of the user -->
                            <th>Province:</th>
                            <td>
                                <%= province%>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!-- including the item receipt -->
                                <%- include('layouts/itemReceipt');-%>
                            </td>
                        </tr>
                    </table>
                </section>
    </body>
    <!-- including the footer of the html -->
    <%- include('layouts/foot');-%>